
form {
    display: grid;
    grid-template-columns: 160px auto;
    row-gap: 1rem;
}

form label {
    display: block;
}

textarea,
input[type=email],
input[type=text] {
    font-family: "Montserrat", sans-serif;
    padding: .5rem;
}

