
:root {
    --color-1: rgba(75,166,184,1); /* teal */
    --color-1t: rgba(75,166,184,.4); /* teal transparent */
    --color-1d: #2f6772; /* darkened teal */
    --color-2: #edb751; /* yellow-orange */
}
