
* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.bg-wrapper {
    background: linear-gradient(180deg, white 30%, var(--color-1t) 100%);
    padding-bottom: 3px;
    margin-bottom: 3rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
}

.wrapper {
    display: flex;
    margin-bottom: 5rem;
    width: 100%;
}

.text {
    background-color: white;
    margin: 2rem 0;
    padding: 2rem;
    width: 40%;
}

.imgborders .wrapper figure {
    border: solid 5px black;
}

.smallimages .wrapper .text { width: 60%; }
.smallimages .wrapper figure { width: 50%; }

.wrapper figure {
    position: absolute;
    margin: 0;
    max-height: 100%;
    min-width: 400px;
    overflow: hidden;
    width: 70%;
}
.wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.img-left {
    justify-content: flex-end;
}

.img-left figure {
    left: 0;
}
.img-left .text {
    margin-right: -2rem;
}

.img-right {
    justify-content: flex-start;
}
.img-right figure {
    right: 0;
}
.img-right .text {
    margin-left: -2rem;
}

