
/* typography styles */

a {
    color: var(--color-1);
    text-decoration: none;

    @include hocus {
        border-bottom: solid 2px var(--color-2);
        color: var(--color-2);
    }
}


h1 {
    color: var(--color-1);
}

h2 {
    border-bottom: solid 2px var(--color-1);
    letter-spacing: .05rem;
    margin-bottom: 1rem;
    padding-bottom: .6rem;
}

p {
    font-size: 16px;
    line-height: 1.7;
    position: relative;
}

blockquote {
    background: white;
    border: solid 2px var(--color-2);
    margin: 0 0 3rem;
    padding: 1.6rem 3rem;
}

.intro_copy {
    margin-bottom: 0;
    max-width: 54rem;
}